
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.cover-container {
    position: relative;
    text-align: center;
    color: white;
}

.cover-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

.cover-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.cover-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #029647;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}

/* تنسيقات صفحة النموذج */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #000;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ebe6e6;
}

button {
    background-color: #029647;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.footer {
    margin-top: 30px;
    text-align: center;
    color: #555;
}

.footer p {
    margin: 5px 0;
}

.footer .social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .social a {
    color: #555;
    font-size: 20px;
    text-decoration: none;
}

.footer .social a:hover {
    color: #029647;
}